.header {
    background-color: var(--header-background-color);
    display: flex;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-left-content {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-logo {
    height: 38%;
}

.header-left-logo {
    height: 100%;
}

.header-right {
    height: 100%;
    width: 75%;
    justify-content: center;
}

.header-right-content {
    height: 100%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-search,
.header-right-button {
    height: 50%;
}

.header-right-search {
    width: 30%;
    background-color: var(--header-search-background-color);
    border-radius: var(--panels-border-radius);
    border: var(--panels-border);
    padding: 0 1% 0 1%;
}

.header-right-search::placeholder {
    font-size: var(--font-size);
    color: var(--header-search-font-color);
    font-weight: var(--header-search-font-weight);
}

.header-right-button {
    background-color: var(--header-button-background-color);
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--panels-border-radius);
    padding: 0 1% 0 1%;
}

.button-text {
    font-size: var(--font-size);
    color: var(--header-button-font-color);
    font-weight: var(--header-button-font-weight);
}

.content {
    background-color: blue;
}

.content-left {
    background-color: var(--side-panel-background-color);
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    background-color: green;
    height: 93%;
    width: 94%;
}