* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: #C4C4C4;
}
/* header */
.header {
    height: 12vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 198px;
    height: 28px;
    margin: 0px 166px 0px 30px;
}

.header__search {
    align-items: center;
    background-color: #E6E6E6;
    height: 37.5px;
    width: 432px;
    display: flex;
    border-radius: 4px;
}

.header__search-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.header__search-input {
    color: #808080;
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    text-indent: 30px;
    outline-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.header__button {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 173px;
    height: 37.5px;
    border-radius: 4px;
    margin: 0px 30px 0px 417px;
    cursor: pointer;
}

.header__button-icon {
    margin: 0px  27px 0px 12px;
    height: 14px;
    width: 14px;
}

.header__button-input {
    margin-right: 19px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 3.2rem;
}
/* aside */
.aside {
    color: #fff;
    height: calc(100% - 12vh);
    position: absolute;
    width: 28%;
    background-color: #000;
    bottom: 0;
}

.aside__menu {
    align-items: center;
    display: flex;
    height: 56px;
    list-style: none;
    margin-top: 8px;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 3.2rem;
    cursor: pointer;
}

.aside__menu-users {
    color: #808080;
}

.aside__menu-products {
    color: #808080;
}

.aside_menu-icon {
    width: 20px;
    margin: 0px 40px;
}

.aside__user-div{
    width: 90%;
    margin: auto;
    margin-bottom: 17px;
}

.aside__user-name {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.aside__user {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
}

.aside__user-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    margin-bottom: 21px;
}

.aside__user-img {
    height: 69px;
    width: 69px;
    margin-right: 17px;
}

.aside__user-rol {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #808080; 
}

.aside__user-icon {
    height: 18px;
    cursor: pointer;
}
/* main */
.main__container{
    position: relative;
    left: 28%;
    margin: 20px 20px;
    width: calc(72% - 40px);
    height: calc( 88vh - 40px);
    background-color: #fff;
    border-radius: 4px;
}

.main__table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 60px;
    place-items: center;   
    border-bottom: solid 1px #D7D7D7;
}

.main__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3.2rem;
}

.main__body {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.main__body-img {
    height: 55px;
}

.main__body-products {
    list-style: none;
}

.main__table-actions {
    display: flex;
}

.main__body-icon {
    height: 13.5px;
}

.main__body-icon--edit {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: #D7D7D7;
}

.main__body-icon--delete {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #CF0E0E;
}

.main__footer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;    
    border-top: solid 1px #D7D7D7;
    justify-content: end;
}

.main__footer-text{
    margin: 0px 30px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #808080;
}