/* Encabezado */

.header {
    background-color: var(--header-background-color);
    display: flex;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}


/* Encabezado Izquierdo */

.header-left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-left-content {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-logo {
    height: 38%;
}

.header-left-logo {
    height: 100%;
}


/* Encabezado Derecho */

.header-right {
    height: 100%;
    width: 75%;
    justify-content: center;
}

.header-right-content {
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-right-button-delete,
.header-right-button {
    height: 50%;
    border-radius: var(--panels-border-radius);
}

.header-right-search {
    position: relative;
    width: 30%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-items: right;
}

.header-right-button-delete {
    background-color: var(--dashboard-button-del-background-color);
    padding: 0 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tci-del {
    fill: white;
}

.header-right-button {
    background-color: var(--header-button-background-color);
    width: 18%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    padding: 0 1% 0 1%;
    transition-duration: var(--transition-hover-1);
    cursor: pointer;
}

.button-text {
    font-size: var(--font-size);
    color: var(--header-button-font-color);
    font-weight: var(--header-button-font-weight);
}


/* Panel Izquierdo */

.content-left {
    background-color: var(--sidepanel-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.top-content {
    margin-bottom: 4%;
}

.item {
    width: 100%;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    display: flex;
    align-items: center;
    padding: 0 6% 0 6%;
}

.item>h2 {
    font-size: calc(var(--font-size)*1.25);
    font-weight: var(--sidepanel-inactive-font-weight);
    color: var(--sidepanel-font-inactive-color);
    margin: 6% 0 6% 10%;
}

.item-1>h2 {
    font-weight: var(--sidepanel-active-font-weight);
    color: var(--sidepanel-font-active-color);
}

.bottom-content {
    align-self: center;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-content>div {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.content-image {
    width: 100%;
}

.image-visualizer {
    position: relative;
    height: 410px;
    width: 100%;
    border-radius: var(--panels-border-radius);
    object-fit: cover;
}

.image-visualizer::before {
    content: '';
    position: absolute;
    border: var(--panels-border);
    background-image: url(/static/img/icons/broken_image_white_48dp.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--sidepanel-background-color);
    width: 100%;
    height: 100%;
}

.content-submit {
    height: 48px;
    width: 50%;
}

.button-image {
    background-color: transparent;
    border: var(--sidepanel-button-border);
    border-radius: var(--panels-border-radius);
    color: var(--sidepanel-font-active-color);
    height: 100%;
    width: 100%;
}


/* Panel Derecho */

.content-right {
    border: 1px solid transparent;
    border-top: var(--panels-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    height: 93%;
    width: 94%;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: 48px 48px auto 48px;
    row-gap: 4%;
}

.frow {
    width: 100%;
    position: relative;
    display: grid;
    column-gap: 16px;
}

input,
textarea {
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    padding: 0 16px;
    outline: none;
    pointer-events: none;
}

textarea {
    padding-top: 1%;
    resize: vertical;
    overflow: auto;
}

.fitem {
    position: relative;
    height: 100%;
    border: var(--panels-border);
    border-radius: var(--panels-border-radius);
}

label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: var(--header-search-font-weight);
    color: var(--header-search-font-color);
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-focus-1);
}

button {
    font-family: var(--font-family);
    font-weight: var(--header-button-font-weight);
    cursor: pointer;
    transition: var(--transition-hover-1);
}


/* Row1 */

.frow-1,
.frow-2,
.frow-4 {
    grid-template-columns: repeat(7, 1fr);
}

.fitem1-1 {
    grid-column-start: 1;
    grid-column-end: 7;
}

.fitem1-2 {
    grid-column-start: 7;
    grid-column-end: 8;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.fitem1-2>h2 {
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    color: var(--header-search-font-color);
}

.fitem2-1 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.fitem2-2 {
    grid-column-start: 6;
    grid-column-end: 7;
}

.fitem2-3 {
    grid-column-start: 7;
    grid-column-end: 8;
}

.frow-3 {
    grid-template-columns: 1fr;
}

.fdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.fdiv-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.fdiv-2 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.dbutton-1 {
    background-color: var(--header-button-background-color);
    color: var(--header-button-font-color);
}

.dbutton-2 {
    background-color: transparent;
    color: var(--edit-off-color-delete-button);
    border: var(--edit-off-border-delete-button);
}


/* Hover and Focus effects */


/* Header */

.header-right-button-delete:hover {
    background-color: var(--dashboard-hover-button-del-background-color);
}

.header-right-button:hover {
    background-color: var(--sidepanel-active-background-color);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.35);
}

.item:hover,
.container-icon>a:hover {
    background-color: var(--sidepanel-active-background-color);
}


/* Contenido */


/* Izquierdo */

.button-image:hover {
    background-color: var(--sidepanel-active-background-color);
}


/* Derecho */

input:hover {
    box-shadow: var(--input-text-box-shadow);
}

input~label {
    /* padding: 0 1% 0 1%; */
    top: -16px;
    left: 0;
    z-index: 2;
    color: #000000;
    font-size: calc(var(--font-size)*0.8);
}

input {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid #000000;
}

.dbutton-1:hover {
    background-color: var(--sidepanel-active-background-color);
    box-shadow: var(--button-box-shadow);
}

.dbutton-2:hover {
    background-color: var(--edit-off-color-delete-button);
    color: white;
}