<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
  </head>
  <body>
    <form class="form-login" action="prueba.php" method="post">
      <img class="img" src=../static/img/logo.svg ></img>
      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
      <button class="buttons" type="submit" name="">Iniciar sesión</button>
      <p><a href="#">Create an Account</a></p>
      <h5>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply<h5>

      </form>

  </body>
</html>
