
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title> Autenticacion de Usuarios</title>
</head>
<body> 
        <form  action="" method="post">
            {{ frm.hidden_tag() }}
            <img class="img" src=../static/img/logo.svg ></img>
            <p>
                {{ frm.username (class="controls")}}
                {% for error in frm.username.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ frm.password (class="controls")}}
                {% for error in frm.password.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ frm.entrar (class="buttons") }}
            </p>
            <s><a href="{{url_for('registrar')}}">Registrarse</a></s>
        </form> 
        {% for msg in get_flashed_messages() %}
        <div>
            {{ msg }}
        </div>
        {% endfor %} 
</body>
</html>



