<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Log in</title>
</head>
<body>

    <div class="Content">
        <div class="Form">
            <div class="Logo">
                <img src="../static/img/logo.svg" alt="">
            </div>
    
            <form class="baseFormulario" method="get" action='Productos'>
                <p class="Username">
                    <h3>Nombre de usuario</h3>
                    <input name='Username' type="text">
                </p>
                <p class="Password">
                    <h3>Constraseña</h3>
                    <input name='Password'type="password">
                </p>
                <p>
                    <button type="submit" class="LoginButtom"> Iniciar Sesion </button>
                </p>
            </form>        

        </div>
    </div>
</body>
</html>