<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title> Registro de Usuarios</title>
</head>

{% block content %}
    <form class="form2" action=""  method="post">
        {{ frm.hidden_tag() }}
        <img class="img" src=../static/img/logo.svg ></img>
        <p>
            {{ frm.id(class="controls")}}
            {% for error in frm.id.errors %}
        <div>
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ frm.nombre(class="controls")}}
            {% for error in frm.nombre.errors %}
        <div>
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ frm.username(class="controls") }}
            {% for error in frm.username.errors %}
        <div>
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ frm.correo(class="controls") }}
            {% for error in frm.correo.errors %}
        <div>
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ frm.password(class="controls") }}
            {% for error in frm.password.errors %}
        <div>
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ frm.registrar(class="buttons") }}
        </p>
        <s><a href="{{url_for('home')}}">¿ya tengo cuenta?</a></s>
    </form>
    {% for msg in get_flashed_messages() %}
    <div>
        {{ msg }}
    </div>
    {% endfor %}
{% endblock %}