<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/registro.css">
</head>

<body>
    <div class="form-section">
        <div class="form-container">
            <div class="form-content">
                <div class="form-logo">
                    <img class="img" src=../static/img/logo.svg></img>
                </div>
                <div class="form-inputs">
                    <form class="form-login" action="prueba.php" method="post">
                        <div class="login-item i-nombre">
                            <input type="text" name="usuario" value="" id="usuario" required>
                            <label for="usuario">Ingrese su nombre</label>
                        </div>
                        <div class="login-item i-lastname">
                            <input name="lastname" value="" id="lastname" required>
                            <label for="lastname">Ingrese su apellido</label>
                        </div>
                        <div class="login-item i-email">
                            <input name="email" value="" id="email" required>
                            <label for="email">Ingrese su correo institucional</label>
                        </div>
                        <div class="login-item i-password">
                            <input type="password" name="password" value="" id="password" required>
                            <label for="password">Cree una contraseña</label>
                        </div>
                        <div class="login-item i-login">
                            <button class="button-1" type="submit" name="">Registrar</button>
                        </div>
                        <div class="login-text">
                            <a href="#" class="text-policy">¿Ya tienes una cuenta?
                            </a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>